/* estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  /* estilo para o cabeçalho da página */
  header {
    background-color: #CF4490;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* estilo para a seção principal da página */
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* estilo para o botão "Saiba Mais" */
  .cta-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #F9753F;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  /* estilo para a seção de recursos */
  .recursos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  /* estilo para cada recurso individual */
  .recurso {
    max-width: 300px;
    margin: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    background-color: white;
  }
  
  /* estilo para a imagem de cada recurso */
  .recurso img {
    max-width: 100%;
    height: auto;
  }
  
  /* estilo para o rodapé da página */
  footer {
    background-color: #6DAAE9;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* estilo para links no rodapé */
  footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }